  @(id: String)

  <!doctype html>

  <html>
    <head>
      <title>Don't Be Late | Dashboard</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href='http://fonts.googleapis.com/css?family=Maiden+Orange' rel='stylesheet' type='text/css'>
        <!--
    <link href="css/stylesheet.css" rel="stylesheet">
  -->
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css">
      <link rel="stylesheet" href="/assets/main.css">
      <style type="text/css">
      html, body, #map-canvas { height: 100%; margin-top: 0px;}
      </style>
      <script src="/assets/node_modules/jquery/dist/jquery.js"></script>
      <script src="/assets/node_modules/bootstrap/dist/js/bootstrap.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script>
      <link href="/assets/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
      <script src="/assets/node_modules/jquery-cookie/src/jquery.cookie.js"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI9uhowC6238ZAy1LNSneJkv5-ckSyViU">
      </script>
      <script type="text/javascript">
        function initialize() {
          var mapOptions = {
            zoom: 4,
            center: new google.maps.LatLng(-33, 151)
          }
          var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

          var image = '/assets/Batman.png';
          var myLatLng = new google.maps.LatLng(-33.890542, 151.274856);
          var beachMarker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            icon: image
          });
          // var dest = getDestination(); // expects latLong
          var destMarker = new google.maps.Marker({
            position: new google.maps.LatLng(-32.89, 150.27),
            map: map
          });

          var markers = [beachMarker, destMarker];
          var bounds = new google.maps.LatLngBounds();
          for(i = 0; i < markers.length; i++) {
            bounds.extend(markers[i].getPosition());
          }

          map.fitBounds(bounds);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
        $(document).ready(function() {
        bootcards.init( {
          offCanvasBackdrop : true,
          offCanvasHideOnMainClick : true,
          enableTabletPortraitMode : true,
          disableRubberBanding : true,
          disableBreakoutSelector : 'a.no-break-out'
        });
      });
    </script>
    </head>

    <body>
      <img src="/assets/Other_Views.jpg" id="background-pic">
      <style>
      #background-pic {
      position:absolute;
      z-index:-1;
      height:100%;
      }
      </style>
      <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div id="divContainer" class="container">
        <div class="navbar-header" style="background-color: #FFD800; font-family: 'Maiden Orange', cursive; font-size: 72px">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarContent">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-left" href="#">
            DON'T BE LATE
          </a>
        </div>
        <div id="navbarContent" class="collapse navbar-collapse" style="border-width: 2px; border-color: #FF6A00; background-color: #FF6A00">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/leader">Leaderboard</a></li>
            <li><a href="/create" id="addEvent">Add Event</a></li>
              <!--<li><a href="#">Leaderboard</a></li>-->
            <li><a href="/login">Logout</a></li>

          </ul>
        </div>
      </div>
    </nav>
      <div id="mapContainer">
        <div class="otherInfo">
          <div><b>Event:</b> LinkedIn Hackday Check-in</div>
          <div><b>People:</b> Superman, Batman, Spiderman, Wonder Woman, Flash</div>
          <div><b>Location:</b> Linkedin HQ: Mountain View, CA</div>
          <div><b>Punishment:</b> Sing Don't Stop Believing</div>
        </div>
        <div id="map-canvas"></div>
      </div>
    </div>
    </body>
  </html>
