  @(id: String)

  <!doctype html>

  <html>
    <head>
      <title>Don't Be Late | Dashboard</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href='http://fonts.googleapis.com/css?family=Maiden+Orange' rel='stylesheet' type='text/css'>
        <!--
    <link href="css/stylesheet.css" rel="stylesheet">
  -->
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css">
      <link rel="stylesheet" href="/assets/main.css">
      <style type="text/css">
      html, body, #map-canvas { height: 50%; margin-top: 0px;}
      </style>
      <script src="/assets/node_modules/jquery/dist/jquery.js"></script>
      <script src="/assets/node_modules/bootstrap/dist/js/bootstrap.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script>
      <link href="/assets/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
      <script src="/assets/node_modules/jquery-cookie/src/jquery.cookie.js"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI9uhowC6238ZAy1LNSneJkv5-ckSyViU">
      </script>
      <script type="text/javascript">
        function initialize() {
          var count = 0;
          var batLocations = [new google.maps.LatLng(37.415505, -122.092883),
          new google.maps.LatLng(37.416536, -122.093026),
          new google.maps.LatLng(37.417722, -122.093130),
          new google.maps.LatLng(37.418933, -122.093216),
          new google.maps.LatLng(37.420470, -122.092661),
          new google.maps.LatLng(37.421624, -122.092054),
          new google.maps.LatLng(37.422930, -122.091387),
          new google.maps.LatLng(37.423644, -122.090284),
          new google.maps.LatLng(37.423790, -122.088844),
          new google.maps.LatLng(37.423387, -122.086513)];
          var superLocations = [new google.maps.LatLng(37.422294, -122.078008),
          new google.maps.LatLng(37.423120, -122.077938),
          new google.maps.LatLng(37.423342, -122.077171),
          new google.maps.LatLng(37.423333, -122.075996),
          new google.maps.LatLng(37.423333, -122.074827),
          new google.maps.LatLng(37.423342, -122.073765),
          new google.maps.LatLng(37.423325, -122.073014),
          new google.maps.LatLng(37.423316, -122.071898),
          new google.maps.LatLng(37.423052, -122.071533),
          new google.maps.LatLng(37.423359, -122.071125)];
          var wonderLocations = [new google.maps.LatLng(37.423214, -122.085223),
          new google.maps.LatLng(37.423052, -122.083496),
          new google.maps.LatLng(37.423095, -122.082273),
          new google.maps.LatLng(37.423240, -122.080846),
          new google.maps.LatLng(37.423282, -122.079901),
          new google.maps.LatLng(37.423342, -122.078217),
          new google.maps.LatLng(37.423325, -122.076758),
          new google.maps.LatLng(37.423342, -122.075159),
          new google.maps.LatLng(37.423316, -122.073765),
          new google.maps.LatLng(37.423316, -122.072681)];
          var spiderLocations = [new google.maps.LatLng(37.414810, -122.078000),
new google.maps.LatLng(37.415620, -122.078005),
new google.maps.LatLng(37.417062, -122.077968),
new google.maps.LatLng(37.418638, -122.077930),
new google.maps.LatLng(37.420347, -122.077930),
new google.maps.LatLng(37.420347, -122.077930),
new google.maps.LatLng(37.421819, -122.078080),
new google.maps.LatLng(37.422904, -122.077968),
new google.maps.LatLng(37.423330, -122.077630),
new google.maps.LatLng(37.423304, -122.076632)];
          var captainLocations = [new google.maps.LatLng(37.398853, -122.100238),
new google.maps.LatLng(37.402727, -122.097785),
new google.maps.LatLng(37.405835, -122.095887),
new google.maps.LatLng(37.409082, -122.093989),
new google.maps.LatLng(37.411448, -122.092617),
new google.maps.LatLng(37.413512, -122.092646),
new google.maps.LatLng(37.415378, -122.092844),
new google.maps.LatLng(37.416537, -122.093048),
new google.maps.LatLng(37.418216, -122.093193),
new google.maps.LatLng(37.419579, -122.093086)];
          var mapOptions = {
            zoom: 4,
            center: new google.maps.LatLng(-33, 151)
          };
          var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

          var batMarker = new google.maps.Marker({
            position: batLocations[0],
            map: map,
            icon: '/assets/tiny_bat.png'
          });
          var superMarker = new google.maps.Marker({
            position: superLocations[0],
            map: map,
            icon: '/assets/tiny_superman.png'
          });
          var wonderMarker = new google.maps.Marker({
            position: wonderLocations[0],
            map: map,
            icon: '/assets/tiny_woman.png'
          });
          var spiderMarker = new google.maps.Marker({
            position: spiderLocations[0],
            map: map,
            icon: '/assets/tiny_spider.png'
          });
          var captainMarker = new google.maps.Marker({
            position: captainLocations[0],
            map: map,
            icon: '/assets/tiny_captain.png'
          });
          // var dest = getDestination(); // expects latLong
          var destMarker = new google.maps.Marker({
            position: new google.maps.LatLng(37.423327, -122.070741),
            map: map
          });

          var markers = [batMarker, superMarker, wonderMarker, spiderMarker, captainMarker, destMarker];
          var bounds = new google.maps.LatLngBounds();
          for(i = 0; i < markers.length; i++) {
            bounds.extend(markers[i].getPosition());
          }

          map.fitBounds(bounds);
          count++;
          window.setInterval(function() {
          if (count < 10) {
          batMarker.setPosition(batLocations[count]);
          superMarker.setPosition(superLocations[count]);
          wonderMarker.setPosition(wonderLocations[count]);
          spiderMarker.setPosition(spiderLocations[count]);
          captainMarker.setPosition(captainLocations[count]);
          count++;
          }
          }, 5000);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
        $(document).ready(function() {
        bootcards.init( {
          offCanvasBackdrop : true,
          offCanvasHideOnMainClick : true,
          enableTabletPortraitMode : true,
          disableRubberBanding : true,
          disableBreakoutSelector : 'a.no-break-out'
        });
      });
    </script>
    </head>

    <body>
      <img src="/assets/Other_Views.jpg" id="background-pic">
      <style>
      #background-pic {
      position:absolute;
      z-index:-1;
      height:100%;
      }
      </style>
      <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div id="divContainer" class="container">
        <div class="navbar-header" style="background-color: #FFD800; font-family: 'Maiden Orange', cursive; font-size: 72px">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarContent">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-left" href="#">
            DON'T BE LATE
          </a>
        </div>
        <div id="navbarContent" class="collapse navbar-collapse" style="border-width: 2px; border-color: #FF6A00; background-color: #FF6A00">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/leader">Leaderboard</a></li>
            <li><a href="/create" id="addEvent">Add Event</a></li>
              <!--<li><a href="#">Leaderboard</a></li>-->
            <li><a href="/login">Logout</a></li>

          </ul>
        </div>
      </div>
    </nav>
    <div id="mapContainer">
      <div class="panel panel-warning" >
        <div class="panel-heading">Event Details</div>
        <div class="otherInfo">
        </br>
          <div><b>Event:</b> LinkedIn Hackday Check-in</div>
          <div><b>People:</b> Superman, Batman, Spiderman, Wonder Woman, Captain America</div>
          <div><b>Location:</b> Linkedin HQ: Mountain View, CA</div>
          <div><b>Punishment:</b> Sing Don't Stop Believing</div>
        </div>
      </div> 

        <div id="map-canvas" style="width=80%; text-align:center"></div>
      </div>
    </div>
  </div>
    </body>
  </html>
